.card {
  display: flex;
	flex-direction: column;
	
	padding: 0.4rem;
	flex: 1 16%;
  
  min-width: 15rem;
  max-width: 20rem;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.card-image img {
	width: 100%;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: left;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-button {
  margin-top: 0.5rem;
}