.main-head {
  grid-area: header;
  height: 4.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.content {
  grid-area: content;
  display: flex;
	flex-wrap: wrap;
}

.side {
  grid-area: sidebar;
  
}

.container {
  display: grid;

  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 24rem 1fr;
}
